@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root{
    --azul: #00CCFF;
    --verde: #2ECC71;
    --rojo: #e74c3c;
    --fondo: #0B0E14;
    --fondo-card: #161B22;
    --fondo-menu: #010409;
    --borde: #30363D;
    --texto: #F4F7F9;
    --texto-suave: #666;
}.interpreter-module *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.interpreter-module{
    background-color: var(--fondo);
    color: var(--texto);
    font-family: 'Montserrat', sans-serif;
}.interpreter-module /* BOTON MENU */
#menu{
    display: none;
}.interpreter-module .boton-menu{
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: var(--fondo-card);
    color: var(--texto);
    font-size: 22px;
    padding: 8px 13px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
    border: 1px solid var(--borde);
    display: none;
}.interpreter-module .boton-menu:hover{
    border-color: var(--azul);
    color: var(--azul);
}.interpreter-module /* CONTENEDOR */
.pagina-completa{
    display: flex;
    width: 100%;
    min-height: 100vh;
}.interpreter-module /* MENU */
.menu-lado{
    width: 22%;
    min-height: 100vh;
    background-color: var(--fondo-menu);
    padding: 25px 15px;
    border-right: 2px solid var(--azul);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}.interpreter-module .encabezado-menu{
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--borde);
}.interpreter-module .encabezado-menu h2{
    color: var(--azul);
    font-size: 120%;
    font-weight: 700;
}.interpreter-module .encabezado-menu p{
    margin-top: 5px;
    font-size: 80%;
    color: var(--texto-suave);
}.interpreter-module .menu-lado nav{
    flex: 1;
}.interpreter-module .menu-lado ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}.interpreter-module .menu-lado ul li a{
    text-decoration: none;
    color: var(--texto);
    display: block;
    padding: 11px 14px;
    border-radius: 8px;
    font-size: 90%;
    border-left: 3px solid transparent;
    transition: 0.2s;
}.interpreter-module .menu-lado ul li a:hover{
    background-color: rgba(0, 204, 255, 0.08);
    color: var(--azul);
    border-left-color: var(--azul);
}.interpreter-module .menu-lado ul li a.link-activo{
    background-color: rgba(0, 204, 255, 0.1);
    color: var(--azul);
    border-left-color: var(--azul);
    font-weight: 600;
}.interpreter-module /* PIE MENU */
.pie-menu{
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid var(--borde);
    display: flex;
    gap: 15px;
}.interpreter-module .pie-menu img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}.interpreter-module .pie-menu span{
    color:#45ff7a;
    font-size:12px;
}.interpreter-module .nombre-admin{
    font-size: 90%;
    font-weight: 600;
    color: var(--texto);
}.interpreter-module .cargo-admin{
    font-size: 75%;
    color: var(--texto-suave);
    margin-top: 3px;
}.interpreter-module /* CONTENIDO */
.contenido-centro{
    width: 78%;
    margin-left: 22%;
    padding: 30px;
}.interpreter-module /* CABECERA */
.cabecera-contenido{
    margin-bottom: 25px;
}.interpreter-module .titulo-pagina{
    font-size: 150%;
    font-weight: 700;
    color: var(--texto);
    margin-bottom: 5px;
}.interpreter-module .subtitulo-pagina{
    font-size: 85%;
    color: var(--texto-suave);
}.interpreter-module /* =========================================================
   CAJITAS DE ESTADÍSTICAS
   ========================================================= */

.fila-cajitas{
    display: grid;

    grid-template-columns:
        repeat(4, minmax(0, 1fr));

    gap: 18px;

    margin-bottom: 25px;
}.interpreter-module /* CAJA PRINCIPAL */
.cajita-numero{
    position: relative;

    overflow: hidden;

    background:
        linear-gradient(
            145deg,
            rgba(22, 27, 34, .98),
            rgba(1, 4, 9, .98)
        );

    padding: 22px;

    border-radius: 14px;

    border:
        1px solid
        rgba(255, 255, 255, .07);

    border-left:
        4px solid
        var(--azul);

    min-height: 145px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    transition:
        transform .3s ease,
        border-color .3s ease,
        box-shadow .3s ease,
        background .3s ease;

    box-shadow:
        0 8px 25px
        rgba(0, 0, 0, .25);
}.interpreter-module /* EFECTO DE LUZ */

.cajita-numero::before{
    content: "";

    position: absolute;

    width: 120px;
    height: 120px;

    top: -60px;
    right: -40px;

    background:
        rgba(0, 204, 255, .12);

    border-radius: 50%;

    filter: blur(25px);

    transition:
        transform .4s ease,
        opacity .4s ease;
}.interpreter-module /* LÍNEA SUPERIOR */

.cajita-numero::after{
    content: "";

    position: absolute;

    top: 0;
    left: 20px;

    width: 45px;
    height: 2px;

    background: var(--azul);

    border-radius: 10px;

    box-shadow:
        0 0 10px
        rgba(0, 204, 255, .7);
}.interpreter-module /* HOVER */

.cajita-numero:hover{

    transform:
        translateY(-7px);

    border-color:
        rgba(0, 204, 255, .35);

    box-shadow:
        0 15px 35px
        rgba(0, 0, 0, .45),

        0 0 20px
        rgba(0, 204, 255, .10);
}.interpreter-module .cajita-numero:hover::before{

    transform:
        scale(1.5);

    opacity: .8;
}.interpreter-module /* TÍTULO */

.cajita-numero h3{

    position: relative;

    z-index: 1;

    font-size: 75%;

    color:
        var(--texto-suave);

    text-transform:
        uppercase;

    letter-spacing:
        .7px;

    margin-bottom:
        10px;
}.interpreter-module /* NÚMERO */

.cajita-numero span{

    position: relative;

    z-index: 1;

    font-size:
        clamp(
            1.8rem,
            3vw,
            2.3rem
        );

    font-weight:
        700;

    color:
        var(--texto);

    display:
        block;

    line-height:
        1;

    transition:
        transform .3s ease;
}.interpreter-module /* MOVIMIENTO DEL NÚMERO */

.cajita-numero:hover span{

    transform:
        scale(1.05);
}.interpreter-module /* DESCRIPCIÓN */

.cajita-numero h6{

    position: relative;

    z-index: 1;

    color:
        rgb(172, 171, 171);

    font-size:
        70%;

    font-weight:
        400;

    margin-top:
        10px;
}.interpreter-module .cajita-numero1{
    position: relative;

    overflow: hidden;

    background:
        linear-gradient(
            145deg,
            rgba(22, 27, 34, .98),
            rgba(1, 4, 9, .98)
        );

    padding: 22px;

    border-radius: 14px;

    border:
        1px solid
        rgba(255, 255, 255, .07);

    border-left:
        4px solid
        var(--azul);

    min-height: 145px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    transition:
        transform .3s ease,
        border-color .3s ease,
        box-shadow .3s ease,
        background .3s ease;

    box-shadow:
        0 8px 25px
        rgba(0, 0, 0, .25);
}.interpreter-module /* EFECTO DE LUZ */

.cajita-numero1::before{
    content: "";

    position: absolute;

    width: 120px;
    height: 120px;

    top: -60px;
    right: -40px;

    background:
        rgba(0, 204, 255, .12);

    border-radius: 50%;

    filter: blur(25px);

    transition:
        transform .4s ease,
        opacity .4s ease;
}.interpreter-module /* LÍNEA SUPERIOR */

.cajita-numero1::after{
    content: "";

    position: absolute;

    top: 0;
    left: 20px;

    width: 45px;
    height: 2px;

    background: var(--azul);

    border-radius: 10px;

    box-shadow:
        0 0 10px
        rgba(0, 204, 255, .7);
}.interpreter-module /* HOVER */

.cajita-numero1:hover{

    transform:
        translateY(-7px);

    border-color:
        rgba(0, 204, 255, .35);

    box-shadow:
        0 15px 35px
        rgba(0, 0, 0, .45),

        0 0 20px
        rgba(0, 204, 255, .10);
}.interpreter-module .cajita-numero1:hover::before{

    transform:
        scale(1.5);

    opacity: .8;
}.interpreter-module /* TÍTULO */

.cajita-numero1 h3{

    position: relative;

    z-index: 1;

    font-size: 75%;

    color:
        var(--texto-suave);

    text-transform:
        uppercase;

    letter-spacing:
        .7px;

    margin-bottom:
        10px;
}.interpreter-module /* NÚMERO */

.cajita-numero1 span{

    position: relative;

    z-index: 1;

    font-size:
        clamp(
            1.8rem,
            3vw,
            2.3rem
        );

    font-weight:
        700;

    color:
        var(--texto);

    display:
        block;

    line-height:
        1;

    transition:
        transform .3s ease;
}.interpreter-module /* MOVIMIENTO DEL NÚMERO */

.cajita-numero1:hover span{

    transform:
        scale(1.05);
}.interpreter-module /* DESCRIPCIÓN */

.cajita-numero1 h6{

    position: relative;

    z-index: 1;

    color:
        rgb(172, 171, 171);

    font-size:
        70%;

    font-weight:
        400;

    margin-top:
        10px;
}.interpreter-module /* =========================================================
   CAJITA VERDE
   ========================================================= */

.cajita-numero.green{

    border-left-color:
        var(--verde);
}.interpreter-module .cajita-numero.green::before{

    background:
        rgba(46, 204, 113, .12);
}.interpreter-module .cajita-numero.green::after{

    background:
        var(--verde);

    box-shadow:
        0 0 10px
        rgba(46, 204, 113, .7);
}.interpreter-module .cajita-numero.green:hover{

    border-color:
        rgba(46, 204, 113, .35);

    box-shadow:
        0 15px 35px
        rgba(0, 0, 0, .45),

        0 0 20px
        rgba(46, 204, 113, .10);
}.interpreter-module /* =========================================================
   CAJITA ROJA
   ========================================================= */

.cajita-numero.rojo{

    border-left-color:
        var(--rojo);
}.interpreter-module .cajita-numero.rojo::before{

    background:
        rgba(231, 76, 60, .12);
}.interpreter-module .cajita-numero.rojo::after{

    background:
        var(--rojo);

    box-shadow:
        0 0 10px
        rgba(231, 76, 60, .7);
}.interpreter-module .cajita-numero.rojo:hover{

    border-color:
        rgba(231, 76, 60, .35);

    box-shadow:
        0 15px 35px
        rgba(0, 0, 0, .45),

        0 0 20px
        rgba(231, 76, 60, .10);
}.interpreter-module /* =========================================================
   RESPONSIVE
   ========================================================= */

@media screen and (max-width: 1100px){

    .fila-cajitas {

        grid-template-columns:
            repeat(2, minmax(0, 1fr));

    }

}@media screen and (max-width: 600px){.interpreter-module .fila-cajitas{

        grid-template-columns:
            1fr;

        gap: 14px;

    }.interpreter-module .cajita-numero{

        min-height:
            130px;

        padding:
            20px;

    }

}.interpreter-module /* TARJETAS */
.estadisticas{
    padding: 15px 8px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}.interpreter-module .cartas{
    background: var(--fondo-menu);
    border-radius: 15px ;
    padding: 25px;
    box-shadow: 5px 2px 5px var(--azul);
}.interpreter-module /* HEADER */

.cartas-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}.interpreter-module .cartas-header h2{
    font-size: 18px;
    color:var(--texto);
}.interpreter-module .cartas-header p{
    color: var(--texto-suave);
}.interpreter-module .seleccion-años{
    padding: 8px 12px;
    color: white;
    border: 2px solid var(--borde);
    border-radius: 25px;
    background: var(--fondo-menu);
    cursor: pointer;
}.interpreter-module .seleccion-años:hover{
    border-color: var(--azul);
    color: var(--azul);
}.interpreter-module /* GRÁFICA DE BARRAS */
/* =========================================================
   GRÁFICA DE BARRAS
   ========================================================= */

.grafica-barras{
    position: relative;

    height: 300px;

    padding:
        25px
        10px
        35px;

    border-radius: 14px;

    background:
        linear-gradient(
            180deg,
            rgba(255, 255, 255, .025),
            rgba(255, 255, 255, .01)
        );

    overflow: hidden;
}.interpreter-module /* LÍNEAS DE REFERENCIA */

.grafica-barras::before{
    content: "";

    position: absolute;

    left: 10px;
    right: 10px;
    top: 25px;
    bottom: 35px;

    background:
        repeating-linear-gradient(
            to bottom,
            rgba(255, 255, 255, .08) 0,
            rgba(255, 255, 255, .08) 1px,
            transparent 1px,
            transparent 25%
        );

    pointer-events: none;
}.interpreter-module /* CONTENEDOR DE BARRAS */

.barras{
    position: relative;

    z-index: 1;

    height: 100%;

    display: flex;

    align-items: flex-end;

    justify-content:
        space-around;

    gap: 18px;

    list-style: none;

    padding: 0;
    margin: 0;
}.interpreter-module /* CADA MES */

.barras li{
    height: 100%;

    flex: 1;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: flex-end;

    gap: 9px;

    position: relative;
}.interpreter-module /* NOMBRE DEL MES */

.barras li::after{
    content: "";

    color:
        var(--texto-suave);

    font-size: 11px;
}.interpreter-module /* BARRAS */

.barra{
    position: relative;

    width: min(42px, 70%);

    min-height: 8px;

    border-radius:
        9px
        9px
        3px
        3px;

    background:
        linear-gradient(
            180deg,
            #00ccff 0%,
            #099dcb 55%,
            #087fa3 100%
        );

    box-shadow:
        0 0 12px
        rgba(0, 204, 255, .25);

    transform-origin: bottom;

    transition:
        height .7s ease,
        transform .3s ease,
        filter .3s ease,
        box-shadow .3s ease;
}.interpreter-module /* BRILLO INTERNO */

.barra::before{
    content: "";

    position: absolute;

    top: 0;
    left: 4px;
    right: 4px;

    height: 3px;

    border-radius: 10px;

    background:
        rgba(255, 255, 255, .7);

    box-shadow:
        0 0 8px
        rgba(255, 255, 255, .5);
}.interpreter-module /* REFLEJO */

.barra::after{
    content: "";

    position: absolute;

    top: 8px;
    left: 6px;

    width: 3px;

    height: 45%;

    border-radius: 10px;

    background:
        rgba(255, 255, 255, .25);
}.interpreter-module /* EFECTO HOVER */

.barras li:hover .barra{

    transform:
        scaleX(1.12);

    filter:
        brightness(1.2);

    box-shadow:
        0 0 20px
        rgba(0, 204, 255, .45);
}.interpreter-module /* VALOR SOBRE LA BARRA */

.barra::marker{
    display: none;
}.interpreter-module /* MESES */

.enero{
    height: 80px;
}.interpreter-module .febrero{
    height: 110px;
}.interpreter-module .marzo{
    height: 140px;
}.interpreter-module .abril{
    height: 160px;
}.interpreter-module .mayo{
    height: 180px;
}.interpreter-module .junio{
    height: 230px;
}.interpreter-module /* =========================================================
   ETIQUETAS DE LOS MESES
   ========================================================= */

.barras li span{
    color:
        var(--texto-suave);

    font-size:
        11px;

    font-weight:
        500;

    white-space:
        nowrap;

    transition:
        color .3s ease,
        transform .3s ease;
}.interpreter-module .barras li:hover span{
    color:
        var(--azul);

    transform:
        translateY(-2px);
}.interpreter-module /* =========================================================
   ANIMACIÓN INICIAL DE LAS BARRAS
   ========================================================= */

.barra{
    transition:
        height .7s ease,
        transform .7s ease,
        opacity .7s ease;
}.interpreter-module /* =========================================================
   RESPONSIVE
   ========================================================= */

@media screen and (max-width: 900px){

    .grafica-barras {
        height: 270px;
    }

    .barras {
        gap: 10px;
    }

    .barra {
        width: 32px;
    }

}@media screen and (max-width: 600px){.interpreter-module .grafica-barras{
        height: 240px;

        padding:
            20px
            5px
            30px;
    }.interpreter-module .barras{
        gap: 5px;
    }.interpreter-module .barra{
        width: 25px;
    }.interpreter-module .barras li span{
        font-size: 9px;
    }

}@media screen and (max-width: 400px){.interpreter-module .grafica-barras{
        height: 220px;

        overflow-x: auto;
    }.interpreter-module .barras{
        min-width: 330px;

        gap: 8px;
    }.interpreter-module .barra{
        width: 24px;
    }

}.interpreter-module /* =========================================================
   GRÁFICA CIRCULAR
   ========================================================= */

.grafica-circular{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 35px;

    min-height: 280px;
    padding: 25px;

    position: relative;
}.interpreter-module /* =========================================================
   CÍRCULO
   ========================================================= */

.circulo{
    width: 180px;
    height: 180px;

    flex-shrink: 0;

    border-radius: 50%;

    background:
        conic-gradient(
            #3b82f6 0% 55%,
            #22c55e 55% 85%,
            #f59e0b 85% 100%
        );

    position: relative;

    box-shadow:
        0 0 20px rgba(59, 130, 246, .15),
        0 0 35px rgba(34, 197, 94, .08);

    transition:
        transform .3s ease,
        box-shadow .3s ease;
}.interpreter-module /* EFECTO AL PASAR EL MOUSE */

.circulo:hover{
    transform: scale(1.04);

    box-shadow:
        0 0 25px rgba(59, 130, 246, .25),
        0 0 45px rgba(34, 197, 94, .12);
}.interpreter-module /* =========================================================
   CENTRO DEL GRÁFICO
   ========================================================= */

.circulo::before{
    content: "";

    position: absolute;

    width: 88px;
    height: 88px;

    background:
        #0b0e14;

    border:
        1px solid
        rgba(255, 255, 255, .08);

    border-radius: 50%;

    top: 50%;
    left: 50%;

    transform:
        translate(-50%, -50%);

    box-shadow:
        inset 0 0 15px
        rgba(0, 0, 0, .5);
}.interpreter-module /* =========================================================
   CÍRCULO INTERIOR DECORATIVO
   ========================================================= */

.circulo::after{
    content: "";

    position: absolute;

    width: 12px;
    height: 12px;

    border-radius: 50%;

    background: #00ccff;

    top: 50%;
    left: 50%;

    transform:
        translate(-50%, -50%);

    box-shadow:
        0 0 12px
        rgba(0, 204, 255, .8);
}.interpreter-module /* =========================================================
   LEYENDA
   ========================================================= */

.leyenda{
    list-style: none;

    display: flex;

    flex-direction: column;

    gap: 16px;

    margin: 0;
    padding: 0;

    min-width: 180px;
}.interpreter-module /* CADA ELEMENTO */

.leyenda li{
    display: grid;

    grid-template-columns:
        14px 1fr auto;

    align-items: center;

    gap: 10px;

    padding: 10px 12px;

    border-radius: 10px;

    color:
        var(--texto-suave);

    font-size: 14px;

    background:
        rgba(255, 255, 255, .025);

    border:
        1px solid
        rgba(255, 255, 255, .05);

    transition:
        transform .25s ease,
        background .25s ease,
        border-color .25s ease;
}.interpreter-module /* HOVER DE LA LEYENDA */

.leyenda li:hover{
    transform:
        translateX(5px);

    background:
        rgba(255, 255, 255, .06);

    border-color:
        rgba(0, 204, 255, .25);
}.interpreter-module /* TEXTO */

.leyenda p{
    margin: 0;

    color:
        var(--texto);

    font-size: 14px;
}.interpreter-module /* PORCENTAJES */

.leyenda strong{
    margin-left: 0;

    font-size: 14px;

    color:
        var(--texto);

    font-weight: 700;
}.interpreter-module /* =========================================================
   COLORES DE LA LEYENDA
   ========================================================= */

.color{
    width: 12px;
    height: 12px;

    border-radius: 50%;

    display: block;

    box-shadow:
        0 0 8px
        currentColor;
}.interpreter-module .color.azul{
    background: #3b82f6;
    color: #3b82f6;
}.interpreter-module .color.verde{
    background: #22c55e;
    color: #22c55e;
}.interpreter-module .color.naranja{
    background: #f59e0b;
    color: #f59e0b;
}.interpreter-module /* =========================================================
   RESPONSIVE
   ========================================================= */

@media screen and (max-width: 700px){

    .grafica-circular {
        flex-direction: column;

        justify-content: center;

        gap: 25px;

        padding:
            20px 10px;
    }

    .circulo {
        width: 160px;
        height: 160px;
    }

    .circulo::before {
        width: 78px;
        height: 78px;
    }

    .leyenda {
        width: 100%;
        max-width: 320px;
    }

}@media screen and (max-width: 400px){.interpreter-module .grafica-circular{
        padding:
            15px 5px;
    }.interpreter-module .circulo{
        width: 145px;
        height: 145px;
    }.interpreter-module .circulo::before{
        width: 70px;
        height: 70px;
    }.interpreter-module .leyenda li{
        padding:
            8px 10px;

        font-size: 13px;
    }

}.interpreter-module /* USUARIOS */
.caja-usuarios{
    background-color: var(--fondo-menu);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 5px 2px 5px var(--azul);
}.interpreter-module .caja-usuarios h3{
    font-size: 100%;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--texto);
}.interpreter-module .tabla-responsiva{
    overflow-x: auto;
}.interpreter-module .cabecera-lista, .interpreter-module .lista-usuarios{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 10px;
    padding: 12px 8px;
    border-bottom: 1px solid var(--borde);
    font-size: 85%;

    grid-template-columns:
    105px
    210px
    150px
    150px
    150px
    150px;
}.interpreter-module .cabecera-lista{
    color: var(--azul);
    font-weight: 700;
    font-size: 75%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}.interpreter-module .lista-usuarios:hover{
    background-color: rgba(255, 255, 255, 0.02);
}.interpreter-module .estado-activo{
    color: var(--verde);
    font-weight: 600;
}.interpreter-module .estado-inactivo{
    color: var(--rojo);
    font-weight: 600;
}.interpreter-module /* RESPONSIVE */
@media screen and (min-width:1466px){
    .titulo-pagina {
        font-size: 120%;
    }

    .cajita-numero {
        flex: 1 1 140px;
    }
    .estadisticas{
    padding: 15px 8px;
    display: flex;
    gap: 20px;
    flex: 1;
    }
    .cartas-header{
        width: 50%;
    }
    .cartas{
        width: 50%;
    }
    .cabecera-lista, .lista-usuarios {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, fr);
    min-width: 10px;
    padding: 20px 100px;
    border-bottom: 1px solid var(--borde);
    font-size: 85%;
    text-align: center;
    grid-template-columns:
    150px
    250px
    200px
    200px
    200px
    200px;
}

}.interpreter-module /* RESPONSIVE */
@media screen and (min-width:1001px) and (max-width:1465px){
    
    .titulo-pagina {
        font-size: 120%;
    }

    .cajita-numero {
        flex: 1 1 140px;
    }
    .estadisticas{
        display: flex;
    }
    .cartas-header{
        width: 50%;
    }
    .cartas{
        width: 50%;
    }
    .cabecera-lista, .lista-usuarios{
        text-align: center;
        grid-template-columns:
        120px
        200px
        150px
        150px
        150px
        150px;    
    }
}.interpreter-module /* RESPONSIVE */
@media screen and (min-width:768px) and (max-width:1000px){
    .boton-menu {
        display: block;
    }

    .menu-lado {
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }

    #menu:checked ~ .pagina-completa .menu-lado {
        left: 0;
    }

    .contenido-centro {
        width: 100%;
        margin-left: 0;
        padding: 70px 15px 20px 15px;
    }

    .titulo-pagina {
        font-size: 120%;
    }

    .cajita-numero {
        flex: 1 1 140px;
    }
    .estadisticas{
        padding: 15px 8px;
        display: grid;
        grid-template-columns: 20fr 1fr;
        gap: 25px;
    }
    .cartas-header{
        width: 100%;
    }
    .cartas{
        width: 100%;
    }

}.interpreter-module /* RESPONSIVE TABLET */
@media screen and (min-width:256px) and (max-width:767px){

    .boton-menu {
        display: block;
    }

    .menu-lado {
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }

    #menu:checked ~ .pagina-completa .menu-lado {
        left: 0;
    }

    .contenido-centro {
        width: 100%;
        margin-left: 0;
        padding: 70px 15px 20px 15px;
    }

    .titulo-pagina {
        font-size: 120%;
    }

    .cajita-numero {
        flex: 1 1 140px;
    }
    .estadisticas{
        display: block;
    }
    
}.interpreter-module /* RESPONSIVE CELULAR */
@media screen and (min-width:0px) and (max-width:255px){
    
    .boton-menu {
        display: block;
    }

    .menu-lado {
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }

    #menu:checked ~ .pagina-completa .menu-lado {
        left: 0;
    }

    .contenido-centro {
        padding: 90px 10px 15px 10px;
    }

    .cajita-numero {
        flex: 1 1 100%;
    }

    .cajita-numero span {
        font-size: 140%;
    }

    .tarjeta-sena {
        flex: 1 1 100%;
    }

    .titulo-pagina {
        font-size: 110%;
    }
    .estadisticas{
        display: block;
    }
    
}.interpreter-module .cabecera-contenido{
    margin-bottom: 25px;
}.interpreter-module .principal{
    display: flex;
    padding: 25px;
    gap: 25px;
}.interpreter-module /* PANEL IZQUIERDO */

/* PANEL IZQUIERDO */

.panel{
    width: 320px;
    background: var(--fondo-menu);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--borde);
    box-shadow: 0 5px 20px rgba(0, 204, 255, 0.08);
}.interpreter-module /* BUSCADOR */

.buscador{
    background: var(--fondo-card);
    padding: 12px 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid var(--borde);
    transition: 0.3s;
}.interpreter-module .buscador:focus-within{
    border-color: var(--azul);
    box-shadow: 0 0 10px rgba(0, 204, 255, 0.15);
}.interpreter-module .buscador i{
    color: var(--azul);
}.interpreter-module .buscador input{
    border: none;
    background: transparent;
    margin-left: 10px;
    width: 100%;
    outline: none;
    color: var(--texto);
    font-family: 'Montserrat', sans-serif;
}.interpreter-module .buscador input::placeholder{
    color: #777;
}.interpreter-module /* TITULO */

.panel h3{
    margin-bottom: 20px;
    color: var(--texto);
}.interpreter-module /* ITEMS */

.item{
    background: var(--fondo-card);
    padding: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.25s ease;
}.interpreter-module /* EFECTO AL PASAR EL MOUSE */

.item:hover{
    transform: translateX(5px);
    border-color: var(--azul);
    background: #1b222b;
    box-shadow: 0 5px 15px rgba(0, 204, 255, 0.12);
}.interpreter-module /* IMAGEN */

.item img{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    object-fit: cover;
}.interpreter-module /* INFORMACION */

.item section{
    flex: 1;
}.interpreter-module .item h4{
    color: var(--texto);
    font-size: 14px;
    margin-bottom: 4px;
}.interpreter-module .item p{
    color: var(--texto-suave);
    font-size: 12px;
}.interpreter-module /* ESTADO */

.item small{
    background: rgba(231, 76, 60, 0.12);
    color: var(--rojo);
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 10px;
    white-space: nowrap;
}.interpreter-module /* SEÑA SELECCIONADA */

.item.activo{
    border-color: var(--azul);
    background: rgba(0, 204, 255, 0.08);
    box-shadow: 0 0 12px rgba(0, 204, 255, 0.08);
}.interpreter-module /* CUANDO SE OCULTA POR LA BUSQUEDA */

.item.oculto{
    display: none;
}.interpreter-module /*
.activo{
    border: 2px solid #fdfdff;
}.interpreter-module */
.contenido{
    flex: 1;
}.interpreter-module /* FILTROS */

.filtros{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}.interpreter-module .filtros select{
    color: var(--texto);
    padding: 12px;
    border-radius: 10px;
    border: 2px solid var(--borde);
    background: var(--fondo-menu);
    box-shadow: 2px 2px 5px var(--azul);
}.interpreter-module /* TARJETA */

.tarjeta{
    background: var(--fondo-menu);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--azul);

}.interpreter-module .tarjeta h2{
    margin-bottom: 20px;
}.interpreter-module .video img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}.interpreter-module /* INFORMACIÓN */

.informacion{
    margin-top: 25px;
}.interpreter-module .informacion p{
    margin-bottom: 18px;
    color: var(--texto);
}.interpreter-module .informacion strong{
    color:var(--texto-suave);
    margin-right: 10px;
}.interpreter-module /* BOTONES */

.botones{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 20px;
}.interpreter-module .botones button{
    padding: 14px 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}.interpreter-module .rechazar{
    background:#161B22;
    
    
}.interpreter-module .validar{
    background: #0057ff;
  
}.interpreter-module button{
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}.interpreter-module /* EFECTO CUANDO ESTÁ SELECCIONADO */
button:focus, .interpreter-module button.active :hover{
    background: #00263f;
    box-shadow:
    0 0 0 2px #00bfff,
    0 0 12px rgba(0,191,255,0.7);
    color: var(--azul);
}.interpreter-module /* RESPONSIVE */
@media screen and (min-width:1466px){
    .titulo-pagina {
        font-size: 120%;
    }
    .filtros{
        right: 5;
    }
    .contenido{
        padding: 12px 8px;
        display: flex;
        gap: 50px;
    }
    .panel{
        width: 30%;
    }
    .tarjeta{
        width: 70%;
    }
}.interpreter-module /* RESPONSIVE */
@media screen and (min-width:1001px) and (max-width:1465px){
    
    .titulo-pagina {
        font-size: 120%;
    }
    .contenido{
        padding: 10px;
        display: flex;
        gap: 5px;
    }
}.interpreter-module /* RESPONSIVE */
@media screen and (min-width:768px) and (max-width:1000px){
    .boton-menu {
        display: block;
    }

    .menu-lado {
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }

    #menu:checked ~ .pagina-completa .menu-lado {
        left: 0;
    }

    .contenido-centro {
        width: 100%;
        margin-left: 0;
        padding: 70px 15px 20px 15px;
    }

    .titulo-pagina {
        font-size: 120%;
    }
    .contenido{
        padding: 15px;
        display: block;
    }
    .panel{
        width: 100%;
    }
    .tarjeta{
        width: 100%;
    }
}.interpreter-module /* RESPONSIVE TABLET */
@media screen and (min-width:256px) and (max-width:767px){

    .boton-menu {
        display: block;
    }

    .menu-lado {
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }

    #menu:checked ~ .pagina-completa .menu-lado {
        left: 0;
    }

    .contenido-centro {
        width: 100%;
        margin-left: 0;
        padding: 70px 15px 20px 15px;
    }

    .titulo-pagina {
        font-size: 120%;
    }
    .contenido{
        padding: 15px;
        display: block;
    }
    .panel{
        width: 100%;
    }
    .tarjeta{
        width: 100%;
    }  
}.interpreter-module /* RESPONSIVE CELULAR */
@media screen and (min-width:0px) and (max-width:255px){
    
    .boton-menu {
        display: block;
    }

    .menu-lado {
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }

    #menu:checked ~ .pagina-completa .menu-lado {
        left: 0;
    }

    .contenido-centro {
        padding: 90px 10px 15px 10px;
    }
    .titulo-pagina {
        font-size: 120%;
    }
    .contenido{
        padding: 15px;
        display: block;
    }   
}.interpreter-module .contenido{
    padding: 30px;
}.interpreter-module /* FORMULARIO */

.formulario{
    background: var(--fondo-menu);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 5px 2px 5px var(--azul);
}.interpreter-module .formulario h2{
    margin-bottom: 25px;
    color: var(--texto);
}.interpreter-module /* FILAS */

.fila{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}.interpreter-module /* CAMPOS */

.campo{
    width: 100%;
}.interpreter-module .campo label{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--texto);
    
}.interpreter-module .campo strong{
    color: red;
}.interpreter-module .campo input, .interpreter-module .campo select, .interpreter-module .campo textarea{
    width: 100%;
    border: 1px solid var(--borde);
    border-radius: 10px;
    padding: 14px;
    outline: none;
    font-size: 14px;
}.interpreter-module .campo textarea{
    height: 130px;
    resize: none;
}.interpreter-module /* ARCHIVOS */

.archivo{
    width: 100%;
}.interpreter-module .archivo label{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}.interpreter-module .subir{
    height: 220px;
    border: 2px dashed var(--borde);
    border-radius: 15px;
    background: var(--fondo);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}.interpreter-module .subir i{
    font-size: 40px;
    color: var(--texto-suave);
    margin-bottom: 15px;
}.interpreter-module .subir p{
    color: var(--texto-suave);
    margin-bottom: 5px;
}.interpreter-module .subir span{
    color: #0d6efd;
    font-size: 14px;
    margin-bottom: 10px;
}.interpreter-module .subir small{
    color: var(--texto-suave);
}.interpreter-module .subir input{
    display: none;
}.interpreter-module /* BOTONES */

.botones{
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}.interpreter-module .botones section{
    display: flex;
    gap: 15px;
}.interpreter-module .botones button{
    padding: 14px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}.interpreter-module /* ESTILOS */

.limpiar{
    background: var(--fondo-menu);
    border: 1px solid #ccc !important;
    color: white;
}.interpreter-module .cancelar{
    background: var(--fondo-menu);
    border: 1px solid #ccc !important;
    color: white;
}.interpreter-module .guardar{
    background: #0057ff;
    color: white;
}.interpreter-module /* RESPONSIVE */
@media screen and (min-width:1466px){
    .titulo-pagina {
        font-size: 120%;
    }
}.interpreter-module /* RESPONSIVE */
@media screen and (min-width:1001px) and (max-width:1465px){
    
    .titulo-pagina {
        font-size: 120%;
    }
}.interpreter-module /* RESPONSIVE */
@media screen and (min-width:768px) and (max-width:1000px){
    .boton-menu {
        display: block;
    }

    .menu-lado {
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }

    #menu:checked ~ .pagina-completa .menu-lado {
        left: 0;
    }

    .contenido-centro {
        width: 100%;
        margin-left: 0;
        padding: 70px 15px 20px 15px;
    }

    .titulo-pagina {
        font-size: 120%;
    }
}.interpreter-module /* RESPONSIVE TABLET */
@media screen and (min-width:256px) and (max-width:767px){

    .boton-menu {
        display: block;
    }

    .menu-lado {
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }

    #menu:checked ~ .pagina-completa .menu-lado {
        left: 0;
    }

    .contenido-centro {
        width: 100%;
        margin-left: 0;
        padding: 70px 15px 20px 15px;
    }

    .titulo-pagina {
        font-size: 120%;
    } 
}.interpreter-module /* RESPONSIVE CELULAR */
@media screen and (min-width:0px) and (max-width:255px){
    
    .boton-menu {
        display: block;
    }

    .menu-lado {
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }

    #menu:checked ~ .pagina-completa .menu-lado {
        left: 0;
    }

    .contenido-centro {
        padding: 90px 10px 15px 10px;
    }
    .titulo-pagina {
        font-size: 120%;
    }   

}.interpreter-module .contenedor{
    background:var(--fondo-menu);
    border-radius:15px;
    padding:25px;
    box-shadow: 5px 2px 5px var(--azul);

}.interpreter-module /* FILTROS */

.filtros{
    display:flex;
    gap:15px;
    margin-bottom:25px;
}.interpreter-module .filtros input, .interpreter-module .filtros select{
    padding:12px;
    color: var(--texto);
    border:1px solid var(--borde);
    border-radius:8px;
    outline:none;
    background: var(--fondo-card);
    box-shadow: 10px 4px 5px var(--fondo-menu);
}.interpreter-module .filtros input{
    width:250px;
}.interpreter-module .filtros select{
    width:180px;
}.interpreter-module /* TABLA */

.tabla-señas h2{
    margin-bottom:20px;
    font-size:20px;
    color:var(--texto-suave);
}.interpreter-module table{
    width:100%;
    border-collapse:collapse;
}.interpreter-module thead{
    background:var(--fondo);
}.interpreter-module th{
    text-align:left;
    padding:15px;
    color:var(--texto);
    font-size:14px;
}.interpreter-module td{
    padding:15px;
    border-top:1px solid var(--texto-suave);
    color: var(--texto);
    font-size:14px;
}.interpreter-module .activo{
    color:#1d8f56;
    font-weight:600;
}.interpreter-module td button{
    border:1px solid var(--borde);
    background:var(--fondo-card);
    color:var(--texto-suave);
    padding:8px 16px;
    border-radius:8px;
    box-shadow: 5px 5px 5px var(--fondo-menu);
    cursor:pointer;
    font-weight:600;
}.interpreter-module td button:hover{
    border-color: var(--azul);
    color: var(--azul);
}.interpreter-module /* PAGINACIÓN */

.paginacion{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-top:25px;
}.interpreter-module .paginacion button{
    width:35px;
    height:35px;
    border:none;
    border-radius:8px;
    background:transparent;
    cursor:pointer;
    font-weight:600;
}.interpreter-module .pagina-activa{
    background: #0B0E14 !important;
    color:var(--azul);
}.interpreter-module .contenedor{
    background:var(--fondo-menu);
    border-radius:15px;
    padding:20px;
    box-shadow: 5px 2px 5px var(--azul);

}.interpreter-module /* FILTROS */

.filtros{
    display:flex;
    gap:15px;
    margin-bottom:20px;
}.interpreter-module .filtros input, .interpreter-module .filtros select{
    height:42px;
    border:1px solid var(--borde);
    border-radius:8px;
    padding:0 12px;
    color:var(--texto-suave);
    outline:none;
}.interpreter-module .filtros input[type="text"]{
    width:260px;
}.interpreter-module .filtros input[type="date"]{
    width:180px;
}.interpreter-module .filtros select{
    width:190px;
}.interpreter-module /* TABLA */

.tabla-contenedor{
    background:var(--fondo-menu);
    border-radius:12px;
}.interpreter-module thead{
    background: var(--fondo-card);
}.interpreter-module th{
    text-align:left;
    padding:16px;
    font-size:14px;
    color:var(--texto);
    font-weight:600;
}.interpreter-module td{
    padding:18px 16px;
    font-size:14px;
    color:var(--texto);
    border-bottom:1px solid var(--fondo-menu);
}.interpreter-module tbody tr:hover{
    background:var(--fondo-menu);
    color: var(--azul);
}.interpreter-module /* PAGINACIÓN */

.paginacion{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
    padding:25px 0 10px;
}.interpreter-module .paginacion button{
    width:34px;
    height:34px;
    border:none;
    border-radius:8px;
    background:transparent;
    color:#4b5565;
    cursor:pointer;
    font-weight:600;
}.interpreter-module .paginacion .activa{
    background:var(--fondo-menu);
    color:var(--azul);
}.interpreter-module .estadisticas{
    display:flex;
    flex-direction:column;
    gap:20px;
}.interpreter-module .tarjetas{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}.interpreter-module .card{
    background:var(--fondo-menu);
    border: 2px solid var(--borde);
    border-radius:15px;
    padding:20px;
    box-shadow: 5px 2px 5px var(--azul);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}.interpreter-module .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--azul);
}.interpreter-module .card h2{
    font-size:32px;
    margin-bottom:10px;
}.interpreter-module .card h4{
    font-size:15px;
    margin-bottom:5px;
}.interpreter-module .card p{
    font-size:13px;
    color:var(--texto-suave);
}.interpreter-module .azul h4{
    color:#2563eb;
}.interpreter-module .verde h4{
    color:#16a34a;
}.interpreter-module .naranja h4{
    color:#f59e0b;
}.interpreter-module .morado h4{
    color:#7c3aed;
}.interpreter-module .fila{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
}.interpreter-module .grafica, .interpreter-module .categorias, .interpreter-module .actividad, .interpreter-module .resumen, .interpreter-module .estado{
    background:var(--fondo-menu);
    border-radius:15px;
    padding:20px;
    box-shadow: 5px 2px 5px var(--azul);
}.interpreter-module .grafica{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}.interpreter-module .grafica:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--azul);
}.interpreter-module .barras{
    height:180px;
    display:flex;
    align-items:flex-end;
    justify-content:space-around;
    list-style:none;
    margin-top:20px;
}.interpreter-module .barras li{
    width:35px;
    background:#2563eb;
    border-radius:5px 5px 0 0;
    animation: cargarBarras 1.2s ease;
}.interpreter-module .grafica:hover .barras li{
    animation: cargarBarras 1.2s ease;
}@keyframes cargarBarras{
    from{
        transform: scaleY(0);
        transform-origin: bottom;
        opacity: 0.3;
    }

    to{
        transform: scaleY(1);
        transform-origin: bottom;
        opacity: 1;
    }
}.interpreter-module .meses{
    display:flex;
    justify-content:space-around;
    margin-top:10px;
}.interpreter-module .circulo{
    width:180px;
    height:180px;
    margin:20px auto;
    border-radius:50%;
    background:conic-gradient(
        #2563eb 0 55%,
        #16a34a 55% 85%,
        #f59e0b 85% 100%
    );
    position:relative;
}.interpreter-module .circulo::after{
    content:"";
    width:90px;
    height:90px;
    background:var(--fondo-menu);
    border-radius:50%;
    position:absolute;
    top:45px;
    left:45px;
}.interpreter-module .categorias{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}.interpreter-module .categorias:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--azul);
}.interpreter-module .circulo{
    transition: transform 0.3s ease;
    animation: cargarGrafico 1.5s ease;
}.interpreter-module .categorias:hover .circulo{
    animation: cargarGrafico 1.2s ease;
}@keyframes cargarGrafico{
    from{
        transform: rotate(-90deg) scale(0.7);
        opacity: 0.4;
    }

    to{
        transform: rotate(0deg) scale(1);
        opacity: 1;
    }
}.interpreter-module .categorias ul{
    list-style:none;
}.interpreter-module .categorias li{
    margin:10px 0;
}.interpreter-module .resumen p{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
}.interpreter-module .barra{
    width:100%;
    height:20px;
    display:flex;
    border-radius:20px;
    overflow:hidden;
    margin:20px 0;
}.interpreter-module .activa{
    width:82%;
    height:100%;
    background:#16a34a;
    flex-shrink:0;
}.interpreter-module .revision{
    width:9%;
    height:100%;
    background:#f59e0b;
    flex-shrink:0;
}.interpreter-module .inactiva{
    width:9%;
    height:100%;
    background:#7c3aed;
    flex-shrink:0;
}.interpreter-module .estado{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}.interpreter-module .estado:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--azul);
}.interpreter-module .porcentajes{
    display:flex;
    justify-content:space-around;
}.interpreter-module .porcentajes strong{
    font-size:22px;
}.interpreter-module .actividad{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}.interpreter-module .actividad:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--azul);
}.interpreter-module .resumen{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}.interpreter-module .resumen:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--azul);
}.interpreter-module /* ANIMACIÓN DE CARGA DEL PORCENTAJE DE ESTADO */

.estado .barra{
    animation: cargarEstado 1.2s ease;
}.interpreter-module .estado:hover .barra{
    animation: cargarEstado 1.2s ease;
}@keyframes cargarEstado{
    from{
        transform: scaleX(0);
        transform-origin: left;
        opacity: 0.3;
    }

    to{
        transform: scaleX(1);
        transform-origin: left;
        opacity: 1;
    }
}@media screen and (min-width:1001px) and (max-width:1465px){.interpreter-module .titulo-pagina{
        font-size: 120%;
    }
}@media screen and (min-width:768px) and (max-width:1000px){.interpreter-module .boton-menu{
        display: block;
    }.interpreter-module .menu-lado{
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }.interpreter-module #menu:checked ~ .pagina-completa .menu-lado{
        left: 0;
    }.interpreter-module .contenido-centro{
        width: 100%;
        margin-left: 0;
        padding: 70px 15px 20px 15px;
    }.interpreter-module .titulo-pagina{
        font-size: 120%;
    }
}@media screen and (min-width:256px) and (max-width:767px){.interpreter-module .boton-menu{
        display: block;
    }.interpreter-module .menu-lado{
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }.interpreter-module #menu:checked ~ .pagina-completa .menu-lado{
        left: 0;
    }.interpreter-module .contenido-centro{
        width: 100%;
        margin-left: 0;
        padding: 70px 15px 20px 15px;
    }.interpreter-module .titulo-pagina{
        font-size: 120%;
    }  
}@media screen and (min-width:0px) and (max-width:255px){.interpreter-module .boton-menu{
        display: block;
    }.interpreter-module .menu-lado{
        width: 240px;
        left: -260px;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
    }.interpreter-module #menu:checked ~ .pagina-completa .menu-lado{
        left: 0;
    }.interpreter-module .contenido-centro{
        padding: 90px 10px 15px 10px;
    }.interpreter-module .titulo-pagina{
        font-size: 120%;
    }   
}.interpreter-module .perfil-contenedor{
    background:var(--fondo-menu);
    border-radius:20px;
    padding:30px;
    box-shadow: 5px 2px 5px var(--azul);
}.interpreter-module /* CABECERA */

.perfil-header{
    display:flex;
    align-items:center;
    gap:30px;
    margin-bottom:30px;
}.interpreter-module .foto-perfil{
    position:relative;
}.interpreter-module .foto-perfil img{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
}.interpreter-module .editar-foto{
    position:absolute;
    right:5px;
    bottom:5px;

    width:40px;
    height:40px;

    border:none;
    border-radius:50px;

    background:rgba(255, 255, 255, 0);
    cursor:pointer;
}.interpreter-module .datos-principales h2{
    font-size:32px;
    margin-bottom:10px;
}.interpreter-module .datos-principales p{
    margin:10px 0;
    color:var(--texto);
}.interpreter-module /* TABS */

.tabs{
    display:flex;
    gap:30px;
    margin-bottom:30px;
    border-bottom:1px solid #ffffff;
}.interpreter-module .tabs button{
    border:none;
    background:none;
    padding:15px;
    cursor:pointer;
}.interpreter-module .tabs .activo{
    color:var(--azul);
    border-bottom:3px solid #ffffff5e;
}.interpreter-module /* FORMULARIO */

.formulario{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
}.interpreter-module .campo{
    display:flex;
    flex-direction:column;
}.interpreter-module .campo label{
    margin-bottom:8px;
    font-weight:600;
}.interpreter-module .campo input, .interpreter-module .campo select, .interpreter-module .campo textarea{
    padding:12px;
    border:1px solid var(--borde);
    border-radius:10px;
}.interpreter-module .campo textarea{
    height:120px;
    resize:none;
}.interpreter-module .campo:last-child{
    grid-column:span 2;
}.interpreter-module /* SUBIR FOTO */

.subir-foto{
    margin-top:30px;
}.interpreter-module .subir-foto h3{
    margin-bottom:15px;
}.interpreter-module .zona-subida{
    height:180px;

    border:2px dashed var(--borde);
    border-radius:15px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    cursor:pointer;
}.interpreter-module .zona-subida p{
    margin:10px 0;
}.interpreter-module .zona-subida span{
    color:var(--fondo-menu);
    font-weight:600;
}.interpreter-module .zona-subida small{
    color:#6b7280;
    margin-top:10px;
}.interpreter-module .zona-subida input{
    display:none;
}.interpreter-module /* BOTONES */

.acciones{
    display:flex;
    justify-content:flex-end;
    gap:15px;
    margin-top:30px;
}.interpreter-module .cancelar{
    background: var(--fondo-menu);
    border: 1px solid #ccc !important;
    color: white;
    padding:12px 25px;
    border-radius:10px;
    cursor:pointer;
}.interpreter-module .guardar{
    padding:12px 25px;
    border:none;
    background: #0057ff;
    color: white;
    border-radius:10px;
    cursor:pointer;
}
